{% extends "base.html" %}
{% block title %}Demander une critique{% endblock %}
{% block content %}
    <div class="edit_ticket">
        <h1>Demander une critique</h1>

        {% for message in messages %}
            <p><em>{{ message.level_tag|title }}:</em> {{ message }}</p>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>
{% endblock %}