{% extends "base.html" %}
{% block title %}Flux{% endblock %}

{% block content %}
    <div class="flux">

        <h1>Flux</h1>
        <p><a href="{% url 'create_ticket' %}" class="button lightblue">Demander une critique</a><a
                href="{% url 'create_review' %}" class="button">Créer
            une critique</a></p><br><br>

        {% for message in messages %}
            <p><em>{{ message.level_tag|title }}:</em> {{ message }}</p><br><br>
        {% endfor %}

        {% for post in posts %}
            <div class="reviews_tickets">
                {% if post.content_type == 'TICKET' %}
                    <div>

                        {% if post.rev %}
                            {% if post.rev.user == request.user %}Vous avez {% else %} <strong>{{ post.rev.user }}</strong>
                            a {% endif %}
                            publié une critique - {{ post.rev.time_created }} :<br>
                            {{ post.rev.headline }} - {{ post.rev.rating }}<br><br>
                        {% endif %}

                        {% if post.user == request.user %}Vous avez {% else %} <strong>{{ post.user }}</strong>
                            a {% endif %}
                        demandé une critique - {{ post.time_created }} :<br><br>
                        <h3>{{ post.title }}</h3>
                        <em>{{ post.description }}</em><br>
                        {% if post.image %}
                            <img src="/media/{{ post.image }}" class="cover">
                        {% endif %}
                        <br>
                    </div>
                    {% if not post.rev %}
                        <div class="response_button">
                            <a href="{% url 'create_review_from_ticket' post.id %}" class="button">Créer une
                                critique</a>
                        </div>
                    {% endif %}
                {% endif %}

                {% if post.content_type == 'REVIEW' %}
                    <div>
                        {% if post.user == request.user %}Vous avez {% else %} <strong>{{ post.user }}</strong>
                            a {% endif %}
                        publié une critique - {{ post.time_created }} :<br><br>
                        <h3>{{ post.headline }} - {{ post.rating }}</h3>
                        <em>{{ post.body }}</em><br>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    </div>

{% endblock %}

