{% extends "base.html" %}
{% block title %}Flux{% endblock %}

{% block content %}
    <div class="flux">

        <h1>Flux</h1>
        <p><a href="{% url 'create_ticket' %}" class="button lightblue">Demander une critique</a><a
                href="{% url 'create_review' %}" class="button">Créer
            une critique</a></p><br><br>

        {% for message in messages %}
            <p><em>{{ message.level_tag|title }}:</em> {{ message }}</p><br><br>
        {% endfor %}

        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                <div class="reviews_tickets">
                    <div>
                        {% if post.rev and post.rev.user in followed_users %}
                            {% if post.rev.user == request.user %}Vous avez {% else %}
                                <strong>{{ post.rev.user }}</strong>
                                a {% endif %}
                            publié une critique - {{ post.rev.time_created }} :<br>
                            <blockquote>
                                {{ post.rev.headline }}<span class="Stars" style="--rating: {{ post.rev.rating }};"
                                                             title="Note : {{ post.rev.rating }}">
                            </span><br>
                                <em>{{ post.rev.body }}</em>
                            </blockquote>
                            <br><br>
                        {% endif %}

                        <div class="ask_review {% if post.rev %}answered{% endif %}">
                            {% if post.user == request.user %}Vous avez {% else %} <strong>{{ post.user }}</strong>
                                a {% endif %}
                            demandé une critique - {{ post.time_created }} :<br><br>
                            <h3>{{ post.title }}</h3>
                            <em>{{ post.description }}</em><br>
                            {% if post.image %}
                                <img src="/media/{{ post.image }}" class="cover">
                            {% endif %}
                        </div>
                        <br>
                    </div>
                    {% if not post.rev %}
                        <div class="response_button">
                            <a href="{% url 'create_review_from_ticket' post.id %}" class="button">Créer une
                                critique</a>
                        </div>
                    {% endif %}

                </div>
            {% endif %}

            {% if post.content_type == 'REVIEW' %}
                <div class="reviews_tickets">
                    <div>
                        {% if post.user == request.user %}Vous avez {% else %} <strong>{{ post.user }}</strong>
                            a {% endif %}
                        publié une critique - {{ post.time_created }} :<br><br>
                        <blockquote>
                            {{ post.headline }}
                            <span class="Stars" style="--rating: {{ post.rating }};" title="Note : {{ post.rating }}">
                            </span><br>
                            <em>{{ post.body }}</em>
                        </blockquote>
                        <br>

                        <div class="ask_review">
                            {% if post.ticket.user == request.user %}Vous avez {% else %}
                                <strong>{{ post.ticket.user }}</strong>
                                a {% endif %}
                            demandé une critique :<br><br>
                            <h3>{{ post.ticket.title }}</h3>
                            {% if post.ticket.image %}
                                <img src="/media/{{ post.ticket.image }}" class="cover">
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% endif %}


        {% endfor %}

    </div>

{% endblock %}

