{% extends "base.html" %}
{% block title %}Posts{% endblock %}

{% block content %}
    <div class="flux">

        <h1>Posts</h1>

        {% for message in messages %}
            <p><em>{{ message.level_tag|title }}:</em> {{ message }}</p><br><br>
        {% endfor %}

        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                <div class="reviews_tickets">
                    <div>
                        <div class="ask_review">
                            Vous avez demandé une critique - {{ post.time_created }} :<br><br>
                            <h3>{{ post.title }}</h3>
                            <em>{{ post.description }}</em><br>
                            {% if post.image %}
                                <img src="/media/{{ post.image }}" class="cover">
                            {% endif %}
                        </div>
                        <br>
                    </div>
                    <div class="response_button">
                        <a href="{% url 'edit_ticket' pk=post.pk %}" class="button">Modifier</a>
                        <a href="{% url 'delete_ticket' pk=post.pk %}" class="button">Supprimer</a>
                    </div>


                </div>
            {% endif %}

            {% if post.content_type == 'REVIEW' %}
                <div class="reviews_tickets">
                    <div>
                        Vous avez publié une critique - {{ post.time_created }} :<br><br>
                        <blockquote>
                            {{ post.headline }}
                            <span class="Stars" style="--rating: {{ post.rating }};" title="Note : {{ post.rating }}">
                            </span><br>
                            <em>{{ post.body }}</em>
                        </blockquote>
                        <br>

                        <div class="ask_review">
                            {% if post.ticket.user == request.user %}Vous avez {% else %}
                                <strong>{{ post.ticket.user }}</strong>
                                a {% endif %}
                            demandé une critique :<br><br>
                            <h3>{{ post.ticket.title }}</h3>
                            {% if post.ticket.image %}
                                <img src="/media/{{ post.ticket.image }}" class="cover">
                            {% endif %}
                        </div>

                    </div>
                    <div class="response_button">
                        <a href="{% url 'edit_review' pk=post.pk %}" class="button">Modifier</a>
                        <a href="{% url 'delete_review' pk=post.pk %}" class="button">Supprimer</a>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}

