{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>LitReviews - {% block title %}{% endblock %}</title>
    <link href="{% static "css/reset.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="header">
    <div class="logo">LitReviews</div>
    <div class="menu">
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "flux" %}class="selected"{% endif %}>
                    <a href="{% url "index" %}">Flux</a>
                </li>
                <li {% if section == "posts" %}class="selected"{% endif %}>
                    <a href="#">Posts</a>
                </li>
                <li {% if section == "abonnements" %}class="selected"{% endif %}>
                    <a href="{% url "user_list" %}">Abonnements</a>
                </li>
            </ul>
        {% endif %}
    </div>
    <div id="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.username }},
            <a href="{% url "logout" %}">Déconnexion</a>
{#        {% else %}#}
{#            <a href="{% url "login" %}">Connexion</a>#}
        {% endif %}
    </div>
</div>
<div id="content_account">
    {% block content %}
    {% endblock %}
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
    });
  </script>
</body>
</html>