{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>LitReviews - {% block title %}{% endblock %}</title>
    <link href="{% static "css/reset.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="header">
    <div class="logo">LitReviews</div>
    <div class="menu">
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "flux" %}class="selected"{% endif %}>
                    <a href="{% url "flux" %}">Flux</a>
                </li>
                <li {% if section == "posts" %}class="selected"{% endif %}>
                    <a href="#">Posts</a>
                </li>
                <li {% if section == "abonnements" %}class="selected"{% endif %}>
                    <a href="#">Abonnements</a>
                </li>
            </ul>
        {% endif %}
    </div>
    <div id="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.username }},
            <a href="{% url "logout" %}">Logout</a>
        {% else %}
            <a href="{% url "login" %}">Log-in</a>
        {% endif %}
    </div>
</div>
<div id="content_account">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>