@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

a {
    color: #2980b9;
}

a:hover {
    color: #3498db;
}

h1, h2 {
    border-bottom: 1px solid #bdc3c7;
    padding: 0 0 10px 0;
    margin: 20px 20px 30px 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

#header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 30px 100px;
    font-size: 14px;
    background: #3498db;
    color: #fff;
}

#header .logo {
    float: left;
    font-size: 20px;
    margin-right: 10%;
}

#header ul.menu {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0 40px 0 0;
}

#header ul.menu li {
    float: left;
    padding: 0 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color: #2c3e50;
    font-weight: bold;
}

#header a {
    color: #fff;
}

#header a:hover {
    color: #2c3e50;
}

#header .user a {
    text-decoration: underline;
}

#content_account {
    padding: 30px 20%;
}


label {
    display: block;
    clear: left;
    color: #333;
    margin-bottom: 4px;
}

input[type=submit], a.button {
    display: inline-block;
    background: #34495e;
    color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px 10px 0 0;
    border-radius: 5px;
    height: auto;
    transition: 0.3s;
}

input[type=submit]:hover, a.button:hover {
    background: #3498db;
}

input[type=submit].greybutton, a.button.greybutton {
    background: #7f8c8d;
}

input, textarea {
    display: block;
    background: #efefef;
    border: 0;
    font-size: 14px;
    height: 40px;
}


#content_account input, #content_account textarea {
    margin-bottom: 20px;
}


#content_account .errorlist {
  color: #cc0033;
  float: left;
  clear: both;
  padding: 0 0 20px 0;
}

input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], input[type=tel], textarea, select, .vTextField {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    color: #000;
    background-color: #ecf0f1;
}

input[type=text]:focus, input[type=text]:active, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=number]:focus, input[type=tel]:focus,
textarea:focus, select:focus, .vTextField:focus {
    border: none;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

.helptext {
    margin: 0 0 20px 0;
    color: #aaa;
    clear: both;
    float: left;
    font-size: 13px;
}



.login-form {
    /*float:left;*/
}

#user {
    text-align: right;
}

#login_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

@media screen and (max-width: 454px) {
    #login_wrapper {
        grid-template-columns: 1fr;
        row-gap: 0px;
    }
    h2 {
        font-size: 20px;
        margin-top: 50px;
    }
}


.margin_top_10 {
    margin-top: 10px;
}

.margin_top_20 {
    margin-top: 20px;
}

.smaller_txt {
    font-size: 0.9em;
}

.abonnements ul li, .user_follow input[type=submit], .suivre input {
    display: inline-block;
}

.abonnements ul li, .abonnes ul li {
    min-width: 160px;
    min-height: 35px;
    padding: 7px 0 0 50px;
    font-size: 1.2em;
}

.abonnements ul li, .abonnes ul li {
    background: url("../img/follower.png") no-repeat 0 0;
}

.abonnes ul li {
    background: url("../img/following.png") no-repeat 0 0;
    margin-bottom: 20px;
}

.suivre input[type=text] {
    min-width: 305px;
    margin-right: 20px;
}

.error_msg {
    margin-top: 50px;
    color: #cc0000;
}

.edit_ticket input[type=file] {
    width: auto;
    height: auto;
    background: #fff;
}

.edit_ticket form label {
    padding-top: 20px;
}

.edit_ticket #id_title {
    width: 500px
}

.edit_ticket #id_description {
    width: 700px;
    height: 100px;
    vertical-align: top;
}