{% extends "base.html" %}

{% block title %}Abonnements{% endblock %}

{% block content %}
    <div class="abonnements">
        <h2>Abonnements</h2>
        <ul>
            {% for userfollowed in usersfollowed.all %}
                <form action="{% url "user_follow" %}" method="post"
                      onsubmit="return confirm('Etes-vous sûr de vous désabonner de {{ userfollowed.followed_user }} ?');">
                    {% csrf_token %}
                    <li>{{ userfollowed.followed_user }}</li>
                    <input type="hidden" name="id" value={{ userfollowed.followed_user_id }}>
                    <input type="hidden" name="action" value="unfollow">
                    <input type="submit" value="Se désabonner">
                </form>
            {% endfor %}
        </ul>
    </div>

    <div class="abonnes">
        <h2>Abonnés</h2>
        <ul>
            {% for follower in followers.all %}
                <li>{{ follower.user }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
